*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #384047;
}

h1{
  text-align: center;
  margin-bottom: 30px;
}

/*Will delete last 3 rows of this*/
.wrapper {
  max-width: 500px;
  margin: 50px auto;
  /*padding: 10px 20px;*/
  /*background-color: #f4f7f8;*/
  /*border-radius: 8px;*/
}

.block{
  background-color: #f4f7f8;
  border-radius: 8px;
  padding: 15px 30px;
  margin-bottom: 10px;
  border: 1px solid RGBA(128,128,128,0.35);
}

/*Will delete*/
/*.form{*/
/*  margin: 20px;*/
/*}*/

input[type="text"],
input[type="password"],
select{
  border: none;
  height: auto;
  outline: 0;
  font-size: 16px;
  padding: 15px;
  width: 94%;
  background: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

select{
  width: 100%;
}

.phone-number-container{
  display: flex;
  width: 100%;
}

.country-code, .phone-number{
  border: none;
  outline: 0;
  height: auto;
  flex-grow: 1;
  font-size: 16px;
  padding: 12px;
  background: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin: 0 0 30px;
  max-width: 70%;
}

.country-code{
  max-width: 40px;
  float: left;
  margin-right: 4px;
}

legend {
  font-size: 1.4em;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}


input[type="radio"]{
  background: #242729;
  transition:all 0.3s ease-in-out;
}


input[type="checkbox"]{
  transform: scale(1.5);
  margin: 0  5px 10px 4px;
  accent-color: #4bc970;
}


button{
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

button:active{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.submit-button{

}

.password-button{

}

.label{
  margin-bottom: 5px;
}

.mistake-message{
  color: red;
  position: relative;
  top: -15px;
}

.field{
  margin-bottom: 20px;
}


.toggle-buttons {
  outline: 2px solid #4bc970;
  border-radius: 7%;
  display: inline-block;
  margin-top: 3px;
}

.toggle-button input {
  opacity: 0;
  position: absolute;
}

.toggle-button input + label {
  float:left;
  cursor: pointer;
  transition:all 0.3s ease-in-out;
  padding: 5px 10px;
}
.toggle-button input:checked + label {
  background: #4bc970;
}

.password{
  border: 2px solid black;
}

.right-password{
  color: #3ac162;
  font-weight: bold;
}

.wrong-password{
  color: red;
  font-weight: bold;
}

.password-button{
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: deepskyblue;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: solid cornflowerblue;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}


