*{
  margin: 0;
  padding: 0;
}

body {
  margin: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #384047;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin-bottom: 30px;
}

.wrapper {
  max-width: 500px;
  margin: 50px auto;
  padding: 10px 20px;
  background-color: #f4f7f8;
  border-radius: 8px;
}

.form{
  margin: 20px;
}



input[type="text"],
select{
  border: none;
  height: auto;
  outline: 0;
  font-size: 16px;
  padding: 15px;
  width: 94%;
  background: #e8eeef;
  color: #8a97a0;
  margin-bottom: 30px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
}

select{
  width: 100%;
}

.country-code, .phone-number{
  border: none;
  outline: 0;
  width: 78%;
  font-size: 16px;
  padding: 12px;
  background: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin: 0 0 30px;
}

.country-code{
  width: 10%;
  height: auto;
  float: left;
  margin-right: 4px;
}

legend {
  font-size: 1.4em;
  margin-bottom: 15px;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}


input[type="radio"]{
  background: #242729;
  transition:all 0.3s ease-in-out;
}


input[type="checkbox"]{
  transform: scale(1.5);
  margin: 0  5px 10px 4px;
  accent-color: #4bc970;
}


button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

.label{
  margin-bottom: 5px;
}

.mistake-message{
  color: red;
  position: relative;
  top: -15px;
}

.field{
  margin-bottom: 20px;
}


.switch-toggle {
  outline: 2px solid #4bc970;
  border-radius: 5%;
  display: inline-block;
  margin-top: 3px;
}


.radio-button input {
  opacity: 0;
  position: absolute;
}
.radio-button input + label {
  float:left;
  cursor: pointer;
  transition:all 0.3s ease-in-out;
  padding: 5px 10px;
}
.radio-button input:checked + label {
  background: #4bc970;
}


