body {
  margin: 40px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
}

.mistake-message{
  color: red;
  position: relative;
}

.field{
  margin-top: 20px;
}

.checkbox{
  margin-bottom: 10px;
}

.country-code{
  width: 40px;
}
